<script src="/vendor/webcam.min.js"></script>

<div>
    <div id="screenshot-button" style="position: absolute; top:100px; left:100px; font-size:100px; color:antiquewhite;">x</div>
    <div id="video" style="width:320px; height:240px;"></div>
    <canvas id="canvas" style="display: none;"></canvas>
    <img id="image" src="">
</div>

<script>

// user related stuff begins

if (localStorage.userID) {
    userID = localStorage.userID;
} else {
    var max = 999999;
    var min = 100000;
    userID = Math.floor(Math.random()*(max-min+1)+min);
    localStorage.userID = userID;
}

// user related stuff ends


// picture related stuff begins

const button = document.querySelector('#screenshot-button');
const image = document.querySelector('#image');
const video = document.querySelector('#video');
const canvas = document.querySelector('#canvas');

canvas.width = 320;
canvas.height = 240;

Webcam.set({
    width: 320,
    height: 240
});
Webcam.attach('#video');

button.onclick = video.onclick = function() {
    takeAPicture();
};

function takeAPicture() {

    // show video, hide picture
    video.style.display = "block";
    image.style.display = "none";

    // start this in 3 seconds
    setTimeout(function() { 

       	Webcam.snap( function() {
    		// the webcam image is now in your own canvas
	    }, canvas );

        var data = canvas.toDataURL('image/png');
        image.src = data;

        uploadPicture(data);

        // hide video, show picture
        video.style.display = "none";
        image.style.display = "block";

    }, 3000);

    var countDownCounter = 3;
    button.textContent = countDownCounter;
    countDownCounter--;
    var countDownFunction = setInterval(function() {
        button.textContent = countDownCounter;
        countDownCounter--;
        if (countDownCounter<0) {
            clearInterval(countDownFunction);
            button.textContent = "x";
        }
    }, 1000);

}

setInterval(function(){ 
    takeAPicture();
}, 30000);

function uploadPicture(data){

    // send the data to the server
    $.ajax({
        url: '/save/',
        type: 'POST', 
        data: {
            imgBase64: data,
            userID: userID
        }
    }).done(function(o) {
        // console.log("picture saved.");
    });
}

// picture related stuff ends


// reloads page every 60 seconds

setTimeout(function(){
   window.location.reload(1);
}, 60000);


</script>

{{!-- start displaying pictures --}}

{{#each files}}
    <span><img src="/content/{{this}}"/></span>
{{/each}}

{{!-- end displaying pictures --}}
