<button id="screenshot-button">Take a picture</button>
<video id="screenshot-video" autoplay style="display:none;"></video>
<canvas id="canvas" style="display:none;"></canvas>
<img id="screenshot-img" src="">

<script>

const button = document.querySelector('#screenshot-button');
const img = document.querySelector('#screenshot-img');
const video = document.querySelector('#screenshot-video');
const canvas = document.querySelector('canvas');

button.onclick = video.onclick = function() {
    takeAPicture();
};

function takeAPicture() {

    // show video, hide picture
    video.style.display = "block";
    img.style.display = "none";

    // allow the "video is running" state for 3 seconds
    setTimeout(function() { 

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);

        var data = canvas.toDataURL('image/png');
        img.src = data;

        uploadPicture(data);

        // hide video, show picture
        video.style.display = "none";
        img.style.display = "block";
    }, 3000);
}

const constraints = {video: true};

function handleSuccess(stream) {
video.srcObject = stream;
}

function handleError(error) {
  console.error('navigator.getUserMedia error: ', error);
}

navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);

setInterval(function(){ 
    takeAPicture();
}, 30000);

function uploadPicture(data){

    // send the data to the server
    $.ajax({
        url: '/save/',
        type: 'POST', 
        data: {
            imgBase64: data
        }
    }).done(function(o) {
        // console.log("picture saved.");
    });
}

</script>